@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --text-color: #B1B1B1;
  --accent-color: #2D8080;
  --skills-gap: 8px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway";
}

#wrapper {
  padding: 3rem 5px 3rem 20px;
}

h1 {
  border-bottom: 1px solid var(--text-color);
  padding-bottom: 1.5rem;
}

h2, figure, #about > h3 {
  display: none;
}

.content {
  padding: 0 18px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.content h3 {
  font-style: italic;
  text-decoration: underline;
  margin-bottom: 1.5rem;
}

#about p {
  color: var(--text-color);
  text-align: justify;
}

#competencies {
  margin-top: 3rem;
}

.skills {
    display: flex;
    gap: var(--skills-gap);
}

.skills-primary {
  margin-bottom: var(--skills-gap);
}

.skills-secondary {
  font-size: .6rem;
}

.skill {
    background-color: var(--accent-color);
    color: white;
    width: calc((100% - var(--skills-gap) * 2) / 3);
    padding: var(--skills-gap);
    display: flex;
    justify-content: space-between;
}

[data-skill="5"]::after {
  content: "★★★";
  color: white;
}

[data-skill="3"]::after {
  content: "★★";
  color: white;
}

[data-skill="1"]::after {
  content: "★";
  color: white;
}

[data-skill="9"]::after {
  content: "★★★★★";
  color: white;
}

[data-skill="7"]::after {
  content: "★★★★";
  color: white;
}