@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --text-color: #999;
  --accent-color: #2d8080;
  --skills-gap: 8px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto";
}

#wrapper {
  padding: 3rem 5px 3rem 20px;
}

h1 {
  border-bottom: 1px solid var(--text-color);
  padding-bottom: 1.5rem;
}

h2,
figure,
#about > h3 {
  display: none;
}

.content {
  padding: 0 18px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.content h3 {
  font-style: italic;
  border-bottom: 1px solid black;
}

#about p {
  color: var(--text-color);
  text-align: justify;
}

#competencies {
  margin-top: 3rem;
}

#competencies h3 {
  width: fit-content;
}

#competencies h3,
#hobbies h3 {
  margin-bottom: 2rem;
}

.skills {
  display: flex;
  gap: var(--skills-gap);
}

.skills-primary {
  margin-bottom: var(--skills-gap);
}

.skills-secondary {
  font-size: 0.6rem;
}

.skill {
  background-color: var(--accent-color);
  color: white;
  width: calc((100% - var(--skills-gap) * 2) / 3);
  padding: var(--skills-gap);
  display: flex;
  justify-content: space-between;
}

[data-skill="5"]::after {
  content: "★★★";
  color: white;
}

[data-skill="3"]::after {
  content: "★★";
  color: white;
}

[data-skill="1"]::after {
  content: "★";
  color: white;
}

[data-skill="9"]::after {
  content: "★★★★★";
  color: white;
}

[data-skill="7"]::after {
  content: "★★★★";
  color: white;
}

section h3:not(#competencies h3) {
  width: 125px;
}

.experience {
  display: flex;
  flex-wrap: wrap;
}

.experience h4,
.experience-details {
  margin: 2rem 0;
}

.experience-details {
  margin-left: auto;
}

.experience-institution {
  display: none;
}

.experience-type,
.experience-date-separator {
  color: var(--accent-color);
}

.experience-location,
.experience-date {
  color: var(--text-color);
}

#hobbies ul {
  padding-left: 2.4rem;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#contact h3,
dt,
dd {
  display: none;
}

.contact-email::before,
.contact-phone::before,
.contact-github::before,
.contact-facebook::before {
  content: "";
  display: inline-block;
  background-size: cover;
  width: 5rem;
  height: 5rem;
}

.contact-email::before {
  background-image: url("../images/email.png");
}

.contact-phone::before {
  background-image: url("../images/phone.png");
}

.contact-github::before {
  background-image: url("../images/github.png");
}

.contact-facebook::before {
  background-image: url("../images/facebook.png");
}
