@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #999;
  --secondary-color: #ccc;
  --tertiary-color: #dbdbdb;
  --accent-color: #f24325;
  --padding-side: clamp(1rem, 5vw, 6rem);;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
}

header,
.experience-type,
.experience-date-separator,
.experience-institution {
  color: var(--accent-color);
}

.content h3::before,
.skill span,
dt {
  background-color: var(--accent-color);
}

header {
  background-color: var(--primary-color);
  padding: 2rem var(--padding-side);
}

header > div {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 1rem;
}

header h1 {
  margin: 0 0 1rem;
}

header figure {
  margin: 0 0 0 10px;
}

.content {
  padding: 3rem 5px 0 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.content h3::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 4px;
}

.content h3 {
  border-bottom: 1px solid var(--primary-color);
  padding-bottom: 12px;
}

#about,
#competencies,
#experiences,
#education,
#hobbies,
#contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#competencies {
  width: 100%;
}

.skills-primary::before {
  content: "Main";
}

.skills-secondary::before {
  content: "Other";
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.skill {
  background-color: var(--secondary-color);
  padding: 6px;
  color: white;
  margin-left: 4px;
}

.skills-secondary .skill {
  background-color: var(--tertiary-color);
}

.skill span {
  display: inline-block;
  padding: 4px;
}

[data-skill="1"] span {
  width: 10%;
}

[data-skill="3"] span {
  width: 30%;
}

[data-skill="5"] span {
  width: 50%;
}

[data-skill="7"] span {
  width: 70%;
}

[data-skill="9"] span {
  width: 90%;
}

.experience-institution::before {
  content: "@";
  padding-right: 2px;
}

.experience-details {
  color: var(--primary-color);
  margin-left: 10px;
  margin-bottom: 1rem;
}

.experience-location::before {
  content: "In ";
}

#hobbies ul {
  padding-left: 2.5rem;
}

dl {
  display: flex;
  gap: 5px;
}

dt {
  min-width: 8.75rem;
  flex-shrink: 0;
  color: white;
  padding: 3px;
}

dd a {
  text-decoration: none;
  color: var(--accent-color);
}

.contact-skype dd {
  display: none;
}

.contact-skype::after {
  content: "first.last";
}

.contact-phone a {
  font-family: serif;
}

@media screen and (min-width: 1023px) {
  header > div {
    padding-left: 2rem;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    column-gap: 0;
    padding: 3rem var(--padding-side) 10px;
  }

  .content p {
    padding-right: 30px;
  }

  #contact {
    position: absolute;
    top: 25px;
    left: 50%;
    width: 50%;
  }

  #contact h3 {
    display: none;
  }

  dl {
    background-color: black;
  }
}
